/* Variables CSS*/
:root {
  --light-pink: #f38181;
  --light-pink-hero-bg: #f38181c0;
  --yellow: #fce38a;
  --yellow-hero-bg: #fce38ac0;
  --light-green: #eaffd0;
  --light-blue: #95e1d3;
  --main-txt-color: #999999;
  --heading-txt-color: #333333;
  --nav-txt-color: #ffffff;
}
